
<section class="default-center">

	
		<h1>About</h1>

		<p>This application is the go-to place for computer security related tutorials and challenges. The process is simple yet logical. First, you have access to <a href="/category">tutorials</a> where we arm you with the tools and knowledge necessary to break software in a variety of ways. Next, you are given access to a 'test range' where you will have the ability to hone and practice these newly learned skills. Finally, you are able to graduate from the "test range" and enter our real-world challenges. These will be complex challenges with minimal help available. You will be responsible for sifting through an application's code, finding the weakness and either abusing it or fixing it depending on the challenge. Your achievements (completed tutorials, exercises and challenges) will be tracked and recorded on your profile, which you can view at any time as an archive of what you've achieved. <br /><br />

			Most other apps fail to effectively provide the comprehensive knowledge required to learn computer security while also allowing users to practice their skills. These applications either do not provide you with the ability to practice, or they do not provide sufficient information to complete their challenges. Furthermore, they usually only teach you how to hack but not how to fix the aforementioned hack. Computer security is a large and complex field and one of the challenges we look forward to overcoming with this application is structuring it in a way that no other security-guide app has ever been done. We have three stages of tutorials, exercises, and challenges that teach users about the vulnerability, how to exploit the vulnerability, and also how to fix the vulnerability in a quick and effective manner. Lastly, our application will provide all the knowledge required to complete challenges so you will not need to access third party resources to complete them.</p>

</section>

