<section id="guideSection" class="default-center">
  <h1>Guide</h1>
  <p>Infosec University is committed to teaching common security vulnerabilities to anyone with sufficient programming experience. For each vulnerability, a background description is given as an overview of what the vulnerability is, an example of how the vulnerability can be exploited, and a list of tutorials that can be explored to gain further understanding into an area of the vulnerability.</p>
  
  <div class="guideImage">
    <img id="tutorialListImg" alt="List of tutorials" src="images/tutorial-list.png">
    <h4>Tutorials list for SQL injection.</h4>
  </div>
  
  <p>For each tutorial, a brief description is given followed by a link to the exercises for this specific topic of a vulnerability. Users can choose which interactive exercise to do from the exercises list. Each interactive exercise provides a short demo, followed by instructions for the exericse.</p>

  <div class="guideImage">
    <img id="exerciseImg" alt="Exercise" src="images/exercise.png">
    <h4>Basic interactive exercise for an error-based SQL injection.</h4>
  </div>

  <p>Instructions could require entering a single line of code to break the mock system, checking the page source to find a segment of code containing crucial information, or more challenging problems requiring more thought and sequence of steps.</p>

  <p>To keep track of your progress for completed exercises, a registered user will have to be logged in. Without an account, tutorials and exercises are allowed to be viewed but progress will not be tracked.</p>
</section>