

<div id="top-banner">
	<img src="/images/banner.svg">
</div>

<section id="main-links">
	<div class="main-links-frame">
		<a href="/category">
			<img src="images/tutorials-icon.svg">
			<h2>Tutorials</h2>			
		</a>
	</div>

	<div class="main-links-frame">
		<a href="/">
			<img src="images/challenges-icon.svg">
			<h2>Challenges</h2>
		</a>
	</div>

	<div class="main-links-frame">
		<a href="/news">
			<img src="images/news-icon.svg">
			<h2>News</h2>
		</a>
	</div>
	
</section>

<footer>

	<div class="footer-links">
		<p><a href="/about">About</a> | <a href="/guide">Guide</a></p>
	</div>

	<div style="clear:both"></div>

	<div class="footer-info">
		<p>InfoSec University © 2015</p>
	</div>

</footer>