

<div id="top-banner">
</div>

<section id="main-links">
	<div class="main-links-frame">
		<a href="/">
			<img src="images/tutorials-icon.svg">
			<h2>TUTORIALS</h2>			
		</a>
	</div>

	<div class="main-links-frame">
		<a href="/">
			<img src="images/challenges-icon.svg">
			<h2>CHALLENGES</h2>
		</a>
	</div>

	<div class="main-links-frame">
		<a href="/">
			<img src="images/news-icon.svg">
			<h2>NEWS</h2>
		</a>
	</div>
	
</section>