<h1>Signup</h1>
<form action="/user" method="post">

  <label for="username">Your name ?</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">Your safe word?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>