<section class="default-center">
	<h1><%= req.session.username %>'s Profile</h1>
	<h2>Exercises Completed</h2>
	<!--DISPLAY COMPLETED EXERCISES HERE-->

	<div class="excercise-complete">
		<div class="container">
			<h4>SQL Injections</h4>
			<ul>
				<li>Error Based</li>
				<li>Time Delay</li>
				<li>Type One</li>
				<li>Type Two</li>
				<li>Type Three</li>
				<li>Type Four</li>
				<li>Type Five</li>
				<li>Type ...</li>
			</ul>
		</div>
		<div class="container">
			<h4>Site Scripting</h4>
			<ul>
				<li>Error Based</li>
				<li>Time Delay</li>
				<li>Type One</li>
				<li>Type Two</li>
				<li>Type Three</li>
				<li>Type Four</li>
				<li>Type Five</li>
				<li>Type ...</li>
			</ul>
		</div>
		<div class="container">
			<h4>Hack Three</h4>
			<ul>
				<li>Error Based</li>
				<li>Time Delay</li>
				<li>Type One</li>
				<li>Type Two</li>
				<li>Type Three</li>
				<li>Type Four</li>
				<li>Type Five</li>
				<li>Type ...</li>
			</ul>
		</div>
	</div>
</section>