<section class="default-center">
	<h1 style="text-align:center"><%= req.session.username %>'s Profile</h1>

	<!--DISPLAY COMPLETED EXERCISES HERE-->
	<% 
		var completedExercisesList = [];
		for (i = 0; i < user[0].completedExercises.length; i++) {    
			completedExercisesList.push(user[0].completedExercises[i]);
		} 
	%>
	<div class="exercise-complete">
		<h3>Exercises Completed</h3>
		<div class="container">
			<h4>SQL Injections</h4>
			<ul>
				<% if (completedExercisesList.indexOf("Error Based: Exploit") >= 0){ %> <li>Error Based: Exploit</li> <% } %>
				<% if (completedExercisesList.indexOf("Time Delay: Exploit") >= 0){ %> <li>Time Delay: Exploit</li> <% } %>
			</ul>
		</div>
		<div class="container">
			<h4>Cross Site Scripting</h4>
			<ul>
				<!-- CROSS SITE SCRIPTING EXERCISES GO HERE -->
			</ul>
		</div>
		<div class="container">
			<h4>Sessions</h4>
			<ul>
				<!-- SESSION EXERCISES GO HERE -->
			</ul>
		</div>
		<div class="container">
			<h4>Cryptography</h4>
			<ul>
				<!-- CRYPTOGRAPHY EXERCISES GO HERE -->
			</ul>
		</div>
	</div>
</section>