<!-- Writing inline style until I figure out were to put elsewhere-->
<!-- vertical white space -->
<section style="height:50px">

</section>

<section>
	<div class="container">
		<div class="row">
			<div class="row">
				<h1> Level: </h1>
			</div>

			<div class="row" style="height:30px">
			</div>

			<div class="col-xs-4" style="background:white;height:500px;">
			</div>
			<div class="col-xs-8" style="background:grey;height:500px;padding:0px;">
				<textarea class="form-control" style="height:100%;background:grey;"></textarea>
			</div>
		</div>
	</div>
</section>