<div class="boxes-container excercise">
  <div class="section-header">
    <h1>Excercise</h1>
  </div>

  <div class="instructions">
    <p>The following code is vulnurable, fix it.</p>

    <code>
    $query= "SELECT id, username, firstName, lastName, passwd FROM account WHERE username='$user' AND passwd='$password'";
    $result = pg_prepare($dbconn, "", $query);
    </code>

  </div>

  <div class="input"></div>
</div>