<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="Brand" src="images/logo.svg">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">SIGN UP</a></li>
				<li><a href="#">LOGIN</a></li>
			</ul>
		</div>

  </div>
</nav>

<!-- Writing inline style until I figure out were to put elsewhere-->
<!-- vertical white space -->
<section style="height:50px">

</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-xs-4" style="background:white;height:500px;">
				<h1> Exercise title </h1>
				<p> Description </p>
			</div>
			<div class="col-xs-8" style="background:grey;height:500px;">
				<p> console </p>
			</div>
		</div>
	</div>
</section>