<h1>Create a Tutorial</h1>
<form action="/tutorial" method="post">

  <label>CategoryId<input name="categoryId" type="text"/></label>
  <select>
    <% _.each(categories, function(category){ %>
      <option value=<%= category.id %>><% category.title %></option>
    <% }) %>

  </select>
  <br/>

  <label>Title<input name="title" type="text"/></label>
  <br/>

  <label>Brief<textarea cols="40" rows="2" name="brief"/></textarea></label>
  <br/>

  <label>Description<textarea cols="40" rows="7" name="description"/></textarea></label>
  <br/>

  <input type="submit"/>
</form>
