<h1>Create a Tutorial</h1>
<form action="/tutorial" method="post">

  <label>Category <select name="categoryId">
  
  </select></label>
  <br/>

  <label>Title<input name="title" type="text"/></label>
  <br/>

  <label>Brief<textarea cols="40" rows="2" name="brief"/></textarea></label>
  <br/>

  <label>Description<textarea cols="40" rows="7" name="description"/></textarea></label>
  <br/>

  <input type="submit"/>
</form>
