<div class="panel small-container">
  
  <h1 class="text-center">Create a Tutorial</h1>
  
  <form id="exerciseEditor" action="/admin/saveTutorial?id="<%= %>"" method="post">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="email" class="form-control" name="title" id="title" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="brief">Brief</label>
        <input type="password" class="form-control" name="id" id="brief" placeholder="Enter a brief description">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" rows="4" placeholder="Add a description"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
   
  </form>
</div>