<div class="small-container">
  <h1 class="text-center">Create an Exercise</h1>
  <form id="exerciseCreation" action="/admin/createExercise" method="post">

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="title" required>
    </div>

    <div class="form-group">
      <label>Instructions</label>
      <textarea class="form-control" cols="40" rows="2" name="instructions"/></textarea>
    </div>

    <div class="form-group">
      <label>Expected</label>
      <textarea class="form-control" cols="40" rows="2" name="expected"/></textarea>
    </div>

    <div class="form-group">
      <label>Instructions</label>
      <textarea class="form-control" cols="40" rows="2" name="additionalCode"/></textarea>
    </div>

    <div class="form-group">
      <label>Level</label>
      <input type="text" class="form-control" placeholder="Level" name="level" required>
    </div>

    <div class="form-group">
      <label>Tutorial</label>
      <select class="form-control" form="exerciseCreation" name="tutorialId">
        <% _.each(tutorials, function(tutorial) { %>
        <option value="<%= tutorial.id %>"><%= tutorial.title %></option>
        <% }) %>
      </select>
    </div>

    <input type="submit"/>
  </form>
</div>
