<section class="default-center">
	<h1>Infosec News</h1>
	<div class="article">
		<img src="images/logo-icon.svg">
		<h3>POODLE: Padding Oracle On Downgraded Legacy Encryption</h3>
		<h4>March 26th, 2015</h4>
		<div class="content">
			<p>Google's security team has discovered a fundamental flaw in OpenSSL 3.0, allowing malicious users to break the encryption and view private data. This flaw is so fundamental to the protocol that the solution to this issue is to not allow use of OpenSSL 3.0. You find more information regarding this vulnerability in OpenSSL 3.0 on <a href="https://www.openssl.org/~bodo/ssl-poodle.pdf">OpenSSL's website</a>.</p>
		</div>
	</div>
	<div class="article">
		<img src="images/logo-icon.svg">
		<h3>YOICS Account Takeover Vulnerability</h3>
		<h4>February 4th, 2015</h4>
		<div class="content">
			<p>YOICS, a secure cloud networking system used by CISCO, Astak, and Philips have discovered a vulnerability with their user authentication system, resulting in malicious users being able to take over other users' accounts. This vulnerability was reported and fixed in 3 days. You can find more information regarding how this vulnerability could of been exploited on <a href="http://www.ifc0nfig.com/yoics-account-takeover-vulnerability/">Paul Price's blog</a>.</p>
		</div>
	</div>
	<div class="article">
		<img src="images/logo-icon.svg">
		<h3>Infosec University website in development! We are excited to start running operations. Learn to Hack and Learn to Protect!</h3>
		<h4>Janurary 20th, 2015</h4>
		<div class="content">
			<p>This application will be the go-to place for computer security related tutorials and challenges. The process is simple yet logical. First, you have access to tutorials where we arm you with the tools and knowledge necessary to break software in a variety of ways. Next, you are given access to a 'test range' where you will have the ability to hone and practice these newly learned skills. Finally, you are able to graduate from the "test range" and enter our real-world challenges. These will be complex challenges with minimal help available. You will be responsible for sifting through an application's code, finding the weakness and either abusing it or fixing it depending on the challenge. Your achievements (completed tutorials, exercises and challenges) will be tracked and recorded on your profile, which you can view at any time as an archive of what you've achieved. <br /><br />

			Most other apps fail to effectively provide the comprehensive knowledge required to learn computer security while also allowing users to practice their skills. These applications either do not provide you with the ability to practice, or they do not provide sufficient information to complete their challenges. Furthermore, they usually only teach you how to hack but not how to fix the aforementioned hack. Computer security is a large and complex field and one of the challenges we look forward to overcoming with this application is structuring it in a way that no other security-guide app has ever been done. We have three stages of tutorials, exercises, and challenges that teach users about the vulnerability, how to exploit the vulnerability, and also how to fix the vulnerability in a quick and effective manner. Lastly, our application will provide all the knowledge required to complete challenges so you will not need to access third party resources to complete them.</p>
		</div>
	</div>
</section>