<div>
  <% if(tutorial.length > 0){ %>
    <h1><%= tutorial.name %></h1>
    <p><%= tutorial.description %></p>
    <br>
  <% } %>
  <a href="/exercise/byId?id=<%= tutorial.id  %>">
    <h3>Exercises</h3>
  </a>

</div>