<div class="boxes-container">

  <div class="section-header">
    <% if(tutorial){ %>
      <h1><%= tutorial.title %></h1>
      <br>
      <p><%= tutorial.description %></p>
      <br>
    <% } %>
  </div>

  <br>
  <a href="/exercise/byid?id=<%= tutorial.id  %>">
      <h3>Exercises</h3>
  </a>

</div>