<div>
  <h1>Category name: <!-- <%= category.name %> --></h1>
  <p>Category background: <!-- <%= category.background =%> --></p>
<div>


<div id="container">
  
  <div class="tutorials">
     
  
  </div>
<div>