

#top-banner{
	background-image: url("/images/banner.svg");
	background-size: 100% 95%;
	background-repeat: no-repeat;
	width: 75%;
	height: 50%;
	margin: 0 auto;
	margin-top: 5%;
}


#main-links{
	width: 75%;
	height: 40%;
	margin: 0 auto;
	margin-top: 2%;

	.main-links-frame{
		width: 15%;
		height: 100%;
		margin-right: 9%;
		margin-left: 9%;
		float: left;
		text-align: center;

		img{
			width: 100%;
			display: block;
		}

		h2{
			font-size: 22px;
			margin: 0;
			
		}
		
		a{
			color: @asphalt;
			text-decoration: none;

			:hover{
				color: @white;
			}
		}

	}	
}