<div id="container">
  

  <% _.each(categoriesList, function(category) { %>

    <a href="/tutorial/byCategory?id=<%= category.id %>">
      <div class="box">
        <li><%= category.title %></li>
        <p><%= category.description %></p>
      </div>
    </a>

  <% }) %>
<div>