.boxes-container{
  margin: 0 auto;
  margin-top: 3%;
  width: 75%;
}

.section-header{
  margin: 0 auto;
}

.section-box{
  background-color: white;
  margin: 5%;
  float: left;
  //border: 1px solid black;
  width: 40%;
  min-height: 150px;
  height: 40%;
  text-align: center;
  //box-shadow: 0px 1px 8px 1px rgba(41, 128, 185, 1.0);
  color: @asphalt;
  //padding: 3%;
  h2{
    margin-top: 4%;
  }
}

.section-box:hover{
  background-color: #3498db;
  color: white;
  a{
    color: white;
  }
}

.section-box-heading{
  background-color: white;
  margin: 0;
  float: left;
  text-align: center;
  color: @asphalt;
  width: 100%;
  min-height:130px;
  h2{
    margin: 0;
    margin-top: 4%;
    color: @asphalt;
  }

  a{
    text-align: center;
    display: block;
    color: @asphalt;
  }

  p{
    color: @asphalt;
  }

}


.section-box-heading:hover{
  background-color: #3498db;
  color: white;

  a,h2,p{
    color: white;
  }


}

